# Dependencies
node_modules/
dist/
build/

# Environment Variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Temporary and Upload Files
uploads/
customer-data/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
